.activePage {
  background-color: #158d65; /* Синій колір фону */
  color: #fff; /* Білий колір тексту */
  border: 1px solid #158d65; /* Синя рамка */
  cursor: pointer;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}
.sizeButton {
  width: 3rem;
  height: 2rem;
}
