.ButtonGroupStyle {
  display: flex !important;
  justify-content: center !important;
}
.activeButton {
  background-color: #158d65 !important;
  color: #fff !important;
  border: 1px solid #158d65 !important;
  cursor: pointer !important;
}
