.activePage {
  background-color: #158d65;
  color: #fff;
  border: 1px solid #158d65;
  border-radius: 1rem;
}
.cont {
  position: fixed;
  width: 100%;
  z-index: 3;
}
.forMargin {
  margin-top: 3%;
}
.cont {
  position: fixed;
}
