.activePage {
  background-color: #158d65 !important;
  color: #fff !important;
  border: 1px solid #158d65 !important;
  border-radius: 1rem !important;
}
.cont {
  position: fixed !important;
  width: 100% !important;
  z-index: 3 !important;
  top: 0 !important;
}
.forMargin {
  margin-top: 3% !important;
}
.AvatarPlace {
  display: flex;
  justify-content: end;
}
.AvatarLink {
  display: flex;
  justify-content: end;
}
.AvatarImage {
  max-width: 42px;
  max-height: 42px;
}
