.activePage {
  background-color: #158d65 !important;
  color: #fff !important;
  border: 1px solid #158d65 !important;
  border-radius: 1rem !important;
}
.cont {
  position: fixed !important;
  width: 100% !important;
  z-index: 3 !important;
  top: 0 !important;
}
.forMargin {
  margin-top: 3% !important;
}
.AvatarLink {
  display: flex;
  justify-content: end;
}
.AvatarImage {
  max-width: 42px;
  max-height: 42px;
}

.AvatarPlace {
  display: none;
  justify-content: end;
}
@media (min-width: 768px) {
  .AvatarPlace {
    display: flex;
    justify-content: end;
  }
}

.AvatarPlaceForPhone {
  display: none;
}
@media (max-width: 768px) {
  .AvatarPlaceForPhone {
    display: flex;
    justify-content: end;
  }
}
